<%= form_for @ad,:url =>{controller: "ads",:action => 'update'}, :method => "put"  do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= collection_select :profession, :profession_id, Profession.order(:name_m),:id,:name_m%>
  </div>

    <div class="field">
      <%= collection_select :profession, :profession_id_1, Profession.order(:name_m),:id,:name_m%>
    </div>

      <div class="field">
        <%= f.label :pictures %><br>
        <%= f.file_field :pictures %>
      </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
