<html>
<p id="notice"><%= notice %></p>

<h1>ADS</h1>

<head>
</head>

<body>
    <% @ads.each do |ad| %>
      <div class="adsview">

        <table class="tableAd">
          <td>
            <div class="image">
            <%= image_tag ad.user.avatar.url(:thumb) %>
            </div>
          </td>
          <td>
            <div class="content">
              <p>
                <strong>AD_ID:</strong>
                <%= ad.id %>
              </p>
              <p>
                <strong>Nome:</strong>
                <%= ad.user.name %>
              </p>
              <p>
                <strong>Descrição:</strong>
                <%= ad.description %>
              </p>
              <p>
                <strong>Profissão:</strong>
                <%= ad.profession.name_m %>
              </p>
            </div>


          </td>
        </table>
      </div>
    <% end %>

</body>
</html>