<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Haswp:</strong>
  <%= @phone.haswp %>
</p>

<p>
  <strong>Operator_ID:</strong>
  <%= @phone.operator_id %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
