<html>
<head>
<body>


<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>
<ul>
  <li><%= link_to 'Operator',  operators_path  %></li>
  <li><%= link_to 'Phones',  phones_path  %></li>
  <li><%= link_to 'Users',  users_path  %></li>
  <li><%= link_to 'Professions',   professions_path   %></li>
  <li><%= link_to 'Ads',  ads_path  %></li>
  <li><%= link_to 'Rates',  rates_path  %></li>
  <li><%= link_to 'Images',  images_path  %></li>
  <li><%= link_to 'Ad Image',  ad_images_path  %></li>
  <li><%= link_to 'User_Phones',  user_phones_path  %></li>
  <li><%= link_to 'City',  cities_path  %></li>
  <li><%= link_to 'State',  states_path  %></li>
  <li><%= link_to 'Country',  countries_path  %></li>
  <li><%= link_to 'Address',  addresses_path  %></li>
  <li><%= link_to 'Resources',  resources_path  %></li>
  <li><%= link_to 'Account Kinds',  account_kinds_path  %></li>
  <li><%= link_to 'Account',  accounts_path  %></li>
  <li><%= link_to 'Account Resource',  account_resources_path  %></li>
</ul>
</body>
</head>
</html>