<p id="notice"><%= notice %></p>

<div class="header-show-user">
  <%= image_tag @user.avatar.url(:original) %>
  <div class="content">
    <ul>
      <strong>Name:</strong>
      <%= @user.name %>

      <strong>Doc:</strong>
      <%= @user.doc %>

      <strong>Birthdate:</strong>
      <%= @user.birthdate %>
      <strong>Email:</strong>
      <%= @user.email %>

      <strong>Gender:</strong>
      <%= @user.gender %>

    </ul>
  </div>
</div>







<p>
  <strong>Last logon:</strong>
  <%= @user.last_logon %>
</p>

<p>
  <strong>Certdate:</strong>
  <%= @user.certdate %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @user.phones[0].number %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @user.address.city.name %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @user.address.state.name %>
</p>


<%= link_to 'Edit', edit_register_user_path(@user) %> |
<%= link_to 'Back', registerUser_path %>
