<p id="notice"><%= notice %></p>



  <strong>Complement:</strong>
  <%= @address.complement %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @address.number %>
</p>

<p>
  <strong>Geolocation:</strong>
  <%= @address.geolocation %>
</p>
<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
