<p id="notice"><%= notice %></p>

<p>
  <strong>Ad_ID:</strong>
  <%= @ad_image.ad_id %>
</p>
<p>
  <strong>Country:</strong>
  <%= @ad_image.image_id %>
</p>

<%= link_to 'Edit', edit_ad_image_path(@ad_image) %> |
<%= link_to 'Back', ad_images_path %>
