<p id="notice"><%= notice %></p>

<h1>Listing Account Resources</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Account Kind</th>
      <th>Resource ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_resources.each do |account_resource| %>
      <tr>
        <td><%= account_resource.value %></td>
        <td><%= account_resource.account_kind.name %></td>
        <td><%= account_resource.resource.name %></td>
        <td><%= link_to 'Show', account_resource %></td>
        <td><%= link_to 'Edit', edit_account_resource_path(account_resource) %></td>
        <td><%= link_to 'Destroy', account_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account resource', new_account_resource_path %>
