<header>
  <div class="header">
    <nav>
      <ul>
        <% if logged_in? %>
            <li><%= link_to "Home", home_index_path %>
                <%= link_to "Profile", show_register_user_path(current_user) %>
                <%= link_to "Settings", edit_register_user_path(cookies.signed[:guest_id]) %>

                  <%= link_to "Log out", sign_out_path, method: "delete" %>

            </li>
        <% else %>
            <li><%= link_to "Log in", login_user_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>