<header>
  <div>
    <nav>
      <ul>
        <% if logged_in? %>
            <li><%= link_to "Users", register_users_path %></li>
            <li>
              <ul>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_register_user_path(cookies.signed[:guest_id]) %></li>
                <li>
                  <%= link_to "Log out", sign_out_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Log in", login_user_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>